<div class="container">
  <h1>Raw Email</h1>

  <div class="row">
    <div class="col-md-8">
      <%= link_to "Back", raw_emails_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <hr />

  <p>
    <strong>Raw Email</strong>
    <textarea class="form-control" rows="10" readonly><%= @raw_email.text_input %></textarea>
  </p>

  <h1>Parsed E-Mail</h1>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <% @raw_email.parse_headers.each do |raw| %> 
      <tr>
        <th><%= raw[0] %></th>
      </tr>
      <% end %>
    </table>
  </div>
  
  <p>
    <strong>Body</strong>
    <textarea class="form-control" rows="20" readonly><%= @raw_email.parse_body %></textarea>
  </p>

  <div class="row">
    <div class="col-md-8">
      <%= link_to "Back", raw_emails_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>